@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&family=Gruppo&family=Rajdhani:wght@300&family=Roboto+Mono:wght@215;400&display=swap');

body{
   background-size: cover;
   background-image: url('img/new-img.jpg');
   font-family: 'Rajdhani', sans-serif;;
   font-weight: 300;

}

.title-box {
   color: #fff;
   font-family: 'Rajdhani', sans-serif;;
   font-weight: 300;
   text-align: center;
   font-size: 2em;
}


.button-box {
   text-align: center;

}

.btn {
   font-size: 16px;
   padding: 10px;
   margin: 0 auto;
   background-color: transparent;
   color: #fff;
} 



/* Underline From Left */
.hvr-underline-from-left {
   display: inline-block;
   vertical-align: middle;
   -webkit-transform: perspective(1px) translateZ(0);
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   position: relative;
   overflow: hidden;
 }
 .hvr-underline-from-left:before {
   content: "";
   position: absolute;
   z-index: -1;
   left: 0;
   right: 100%;
   bottom: 0;
   background: #fd8e3a;
   height: 4px;
   -webkit-transition-property: right;
   transition-property: right;
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -webkit-transition-timing-function: ease-out;
   transition-timing-function: ease-out;
 }
 .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
   right: 0;
 }



.display-container {
   text-align: center;
   margin-top: 40px;
   height: 200px;
   color: #fff;
   display: flexbox;

}

.display-box {
   display: flex;
   justify-content: space-around;
   font-size: 24px;
   margin: 45px 0px;
}


.box {
   border: 2px solid #fff;
   padding: 22px;
   border-radius: 10%;
}

#weather-details-para{
   color: #fff;
}


